<title>{{ seo.title }}</title>
<meta name="description" content="{{ seo.description }}">
<meta name="robots" content="index, follow">

<meta property="og:type" content="website">
<meta property="og:title" content="{{ seo.title }}">
<meta property="og:description" content="{{ seo.description }}">
<meta property="og:image" content="{{ seo.image}}">
<meta property="og:url" content="{{ seo.url }}">
<meta property="og:site_name" content="Mutor.js">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ seo.title }}">
<meta name="twitter:description" content="{{ seo.description }}">
<meta name="twitter:image" content="{{ seo.image}}">
